/* CSS file placeholder. */

.div-header{
  
    width: 100%;
    height: 90px;
    margin: 5px 0px !important;
    background-color: #5FCAE6;
}

.div-body-container{
 height:774px;
 background-color:#EDF3F5; 
}

.div-left-dash
{
  margin-left:5px;
  overflow: auto;
  height: 750px;
}


.label-font-weight
{
     
    font-weight: normal;
}
.a-edit-question{
  float:right;
  cursor:pointer;
  margin-right:20px;
}

.div-left-dash>a
{
  cursor:pointer;
}

.ul-qn-lst
{
  width:100%;
}

.ul-qn-lst>li>a
{
  cursor:pointer;
}



.div-userType-container{
  margin-top: 346px;
  margin-left: 180px;
  height: 20px;
  width: 226px;
  background-color: #EDF3F5;
}


.img-profile-pic
{
    margin-top: 3px;
    margin-left: 10px;
    height: 100%;
    width: 100%;
}



.div-header-logout{
  float:right;
  color:white;
  font:13px;
  cursor: pointer;
}

.div-header-name{
  float:right;
  min-width:50px;
  color:white;
  font:13px;
}




.div-login-container
{
 background-image: url('../assets/images/login_popup-01.png' );
  background-repeat: no-repeat;
  height:850px;
  width:710px;
}

.img-login{
   margin-top: 435px;
    margin-left: 125px;
}